<html>

<body>
    <div class="login">
        <div class="heading">
            <h2>Welcome to our API</h2>
            <h3>This is a basic front-end to simplify its use</h3>
            <h3>Please choose one of the options</h3>
            <form action="/setname" method='GET'>
                <button type="submit" class="float" value="OK">Create a user</button>
            </form>
            <form action="/getuser" method='GET'>
                <button type="submit" class="float" value="OK">Get a user</button>
            </form>
            <form action="/modifyuser" method='GET'>
                <button type="submit" class="float" value="OK">Modify or delete a user</button>
            </form>
        </div>
    </div>
</body>

</html>